<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./styles.css">
    <!-- <script>
        // function that refreshes access token before it expires.
        // check for access token first? or automatically refresh?
        setInterval(async function checkRefreshToken() {
            // if access Token
            const accessToken = sessionStorage.getItem('accessToken')
            if (accessToken) {
                ;
            } else {
            // if no access token
                try {
                    const response = fetch('./refresh', { // fetch request for new token
                        method: 'GET',
                        headers: {'Content-Type': 'application/json'},
                        credentials: 'include'
                    });
                    if (!response.ok) { // if bad response. If we get a 401 response, we should redirect to login.
                        throw new Error(`${response.status} ${response.statusText}`)
                        window.location.replace('./404');
                    }
                    accessToken = await response.json().then(result => result.accessToken); 
                    // parse response and get and set access token
                } catch (error) {
                    console.error(error); // error.stack prints more detailed information
                    window.location.replace('./404');
                }
            };
        }, 85_999_999)
    </script> -->
</head>
<body>
    <p>If you made it here, everything works!</p>
    <img src="./images/hooray.png" alt="HOORAY!">
</body>
</html>